In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('patients.csv')

In [3]:
# Display the shape of the DataFrame before removing duplicates
print("Shape before removing duplicates:", df.shape)

Shape before removing duplicates: (100, 5)

In [4]:
# Removing duplicate rows
df = df.drop_duplicates()

In [7]:
# Display the shape of the DataFrame after removing duplicates
print("Shape after removing duplicates:", df.shape)

Shape after removing duplicates: (100, 5)

In [11]:
# Handling missing values
# For demonstration, let's fill missing values in the 'Diagnosis' column with 'Unknown'
df['Diagnosis'].fillna('Unknown', inplace=True)

In [14]:
df.head(3)

   PatientID       Name  Age     Diagnosis  LabResult
0       1001  Patient_1   20      Diabetes        167
1       1002  Patient_2   74      Diabetes        153
2       1003  Patient_3   40  Hypertension        196

In [15]:
# Drop rows with missing values in other columns
df.dropna(inplace=True)

In [16]:
# Display the first few rows of the cleaned DataFrame
print("\nCleaned DataFrame:")
print(df.head())

Cleaned DataFrame:
   PatientID       Name  Age     Diagnosis  LabResult
0       1001  Patient_1   20      Diabetes        167
1       1002  Patient_2   74      Diabetes        153
2       1003  Patient_3   40  Hypertension        196
3       1004  Patient_4   23       Unknown        157
4       1005  Patient_5   35      Diabetes        115

In [17]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv("update_patient.csv", index=False)

In [18]:
print("DataFrame has been saved to 'update_patient.csv'")

DataFrame has been saved to 'update_patient.csv'